* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.nav-list {
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
}

.main {
    width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.m1 {
    width: 200;
    height: 200px;
    background-color: #e6ffe9;
}

.m2 {
    width: 200;
    height: 200px;
    background-color: #cbffd3;
}

.m3 {
    width: 200;
    height: 200px;
    background-color: #aeffbd;
}

.m4 {
    width: 200;
    height: 200px;
    background-color: #93ffab;
}

.m5 {
    width: 200;
    height: 200px;
    background-color: #f3ffd8;
}

.m6 {
    width: 200;
    height: 200px;
    background-color: #edffbe;
}

.m7 {
    width: 200;
    height: 200px;
    background-color: #e9ffa5;
}

.m8 {
    width: 200;
    height: 200px;
    background-color: #e4ff8b;
}

.m9 {
    width: 200;
    height: 200px;
    background-color: #d9e5ff;
}

.m10 {
    width: 200;
    height: 200px;
    background-color: #bad3ff;
}

.m11 {
    width: 200;
    height: 200px;
    background-color: #a4c6ff;
}

.m12 {
    width: 200;
    height: 200px;
    background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
